@using Riode.Models
@{
    ViewData["Title"] = "Create";
}
<!-- Content -->
@model Advertisement
<form method="post" asp-controller="Advertisement" asp-action="Create" enctype="multipart/form-data">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Advertisement Create</h4>

        <div class="mb-3">
            <input class="form-control" asp-for="ImageFile">
            <span class="text-danger" asp-validation-for="ImageFile"></span>
        </div>
        <!-- HTML5 Inputs -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="mb-3 row">
                    <label asp-for="Title" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Name" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="col-md mb-3">
                    <label asp-for="Place" class="col-md-2 col-form-label"></label>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="radio" name="Place" id="inlineRadio1" value="True">
                        <label class="form-check-label" for="inlineRadio1">Left</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Place" id="inlineRadio2" value="False">
                        <label class="form-check-label" for="inlineRadio2">Right</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Place" id="inlineRadio3" value="Null">
                        <label class="form-check-label" for="inlineRadio3">Middle</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </div>
</form>
<div class="content-backdrop fade"></div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

